                                    ***Sakib Mizan_A_2154901009 ML Final Project***

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Importing Dataset

In [39]:
dataset = pd.read_csv('14-StudentsPerformance.csv')
dataset.head(20)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61

In [18]:
dataset.shape

(1000, 8)

### Check Dataset for Missing Values

In [29]:
missing_data = dataset.isnull().sum()
print(missing_data)

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Checking for Duplicate Data

In [32]:
duplicate_data = dataset.duplicated().sum()
print(duplicate_data)

0

### Checking Data Type

In [34]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Checking for Unique Entities

In [36]:
dataset.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

### Statistical Overview of the Dataset

In [37]:
dataset.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

### Duplicating & Modifying Dataset to Analyze Student Performance

In [40]:
dataset_copy = dataset.copy()

### Adding Average Score & Pass/Fail Column to the Duplicate Dataset

In [45]:
dataset_copy["average score"] = dataset_copy[["math score", "reading score", "writing score"]].mean(axis = 1)
dataset_copy["pass/fail"] = dataset_copy["average score"].apply(lambda z: "Yes" if z >= 50 else "No")
dataset_copy.head(20)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average score,pass/fail
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667,Yes
1,female,group C,some college,standard,completed,69,90,88,82.333333,Yes
2,female,group B,master's degree,standard,none,90,95,93,92.666667,Yes
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333,No
4,male,group C,some college,standard,none,76,78,75,76.333333,Yes
5,female,group B,associate's degree,standard,none,71,83,78,77.333333,Yes
6,female,group B,some college,standard,completed,88,95,92,91.666667,Yes
7,male,group B,some college,free/reduced,none,40,43,39,40.666667,No
8,male,group D,high school,free/reduced,completed,64,64,67,65.000000,Yes
9,female,group B,high school,free/reduced,none,38,60,50,49.333333,No
10,male,group C,associate's degree,standard,none,58,54,52,54.666667,Yes
11,male,group D,associate's degree,standard,none,40,52,43,45.000000,No
12,female,group B,high school,standard,none,65,81,73,73.000000,Yes
13,male,group A,some college,standard,completed,78,72,70,73.333333,Yes
14,female,group A,master's degree,standard,none,50,53,58,53.666667,Yes
15,female,group C,some high school,standard,none,69,75,78,74.000000,Yes
16,male,group C,high school,standard,none,88,89,86,87.666667,Yes
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000,No
18,male,group C,master's degree,free/reduced,completed,46,42,46,44.666667,No
19,female,group C,associate's degree,free/reduced,none,54,58,61,57.666667,Yes